@model List<AcdYoklama.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Öğrenci Listesi";
    var SuccessMessage = TempData["SuccessMessage"]?.ToString();
    var ErrorMessage = TempData["ErrorMessage"]?.ToString();
}
<h3>@ViewData["Title"]</h3>
<hr />
@if (!string.IsNullOrWhiteSpace(SuccessMessage))
{
    <div class="alert alert-success">
        <strong>Başarılı! </strong>@SuccessMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>
}
else if (!string.IsNullOrWhiteSpace(ErrorMessage))
{
    <div class="alert alert-danger">
        <strong>Hata! </strong>@ErrorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>

    </div>
}


<form>
    <button asp-action="Create" asp-controller="Employee" class="btn btn-primary mb-3">Öğrenci Ekle</button>
    <input class="sea" style="float: right;
            padding: 6px;
            border:none;
            margin-top: 8px;
            margin-right: 16px;
            font-size: 17px; border-radius:5px; background-color: #dee2e6;" type="text" placeholder="Ara...">

    <table class="table table-responsive table-hover table-bordered">
        <thead>
            <tr class="table-active">
                <th>İd</th>
                <th>Öğrenci Adı</th>
                <th>Öğrenci No</th>
                <th>Öğrenci Sınıfı</th>
                <th>Öğrenci Url</th>
                <th>Eylem</th>
            </tr>
        </thead>
        <tbody>
            @if (Model !=null && Model.Any())
            {
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.OgrenciId</td>
                        <td>@employee.Ogrenci_adi</td>
                        <td>@employee.Ogrenci_no</td>
                        <td>@employee.Ogrenci_sinif</td>
                        <td>@employee.Ogrenci_url</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a href="@Url.Action("Edit", "Employee", new { OgrenciId = employee.OgrenciId })" class="btn btn-primary">Düzenle</a>
                                <a href="@Url.Action("Delete", "Employee", new { OgrenciId = employee.OgrenciId })" class="btn btn-danger">Sil</a>
                                <a href="@Url.Action("Goruntule", "Employee", new { OgrenciId = employee.OgrenciId })" class="btn btn-warning">Görüntüle</a>
                                <a href="@Url.Action("Profil", "Employee", new { OgrenciId = employee.OgrenciId })" class="btn btn-success">Profil</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">
                        <div>
                            Şu anda veri mevcut değil!
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</form>